* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    height: 69px;
    font-size: 37px;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main {
    width: 1051px;
    margin: 100px auto;
}

.sem-quizzes-criados {
    width: 100%;
    height: 181px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #D4D4D4;
}
.sem-quizzes-criados p {
    width: 250px;
    height: 65px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #B9B9B9;
}
.sem-quizzes-criados button {
    width: 151px;
    height: 40px;
    font-size: 21px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EC362D;
    border: 1px dashed #EC362D;
    border-radius: 50px;
}
.sem-quizzes-criados button:hover {
    cursor: pointer;
}

.com-quizzes-criados div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.com-quizzes-criados h1 {
    font-size: 20px;
    font-weight: 700;
}

.com-quizzes-criados ion-icon {
    color: #EC362D;
    font-size: 30px;
}

.editar__excluir {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    height: 87px;
    width: 43px;
    border-radius: 10px 0px 0px 11px;
    display: flex;
    flex-direction: column;
    background-color: #EC362D;
}

.editar__excluir ion-icon {
    color: #FFFFFF;
    font-size: 23px;
    margin-top: 8px;
}

.quizzes, .quizzes-criados {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.quizzes *, .quizzes-criados * {
    margin-bottom: 12px;
}

h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 30px;
}

.quizz {
    position: relative;
    width: 340px;
    height: 181px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.quizz:hover {
    cursor: pointer;
}
.quizz img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.quizz p {
    position: absolute;
    z-index: 2;
    bottom: 7px;
    left: 20px;
    right: 20px;
    font-size: 19px;
    font-weight: 400;
    overflow-wrap: break-word;
    color: white;
}

.quizz .degrade {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: calc(100% - 12px);
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
}

/* --- TELA 2 --- */

.tela-2 {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    z-index: 3;
    top: 338px;
    width: 1051px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.banner {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    height: 227px;
    margin-top: 69px;
    overflow: hidden;
}
.banner img {
    width: 100%;
}
.banner p {
    position: absolute;
    z-index: 4;
    bottom: 50%;
    left: calc(50% - (1051px/2));
    width: 1051px;
    font-size: 39px;
    font-weight: 400;
    text-align: center;
    overflow-wrap: break-word;
    color: white;
}
.banner .degrade {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
}

.pergunta {
    width: 759px;
    padding: 30px;
    margin-bottom: 42px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.pergunta__titulo {
    width: 100%;
    height: 138px;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pergunta__resposta {
    width: 330px;
    height: 175px;
    margin: 20px 0;
}
.pergunta__resposta:hover {
    cursor: pointer;
}
.pergunta__resposta img {
    width: 100%;
    height: 100%;
}
.pergunta__resposta p {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
}

.gabarito.correta {
    color: #009C22;
}

.gabarito.errada {
    color: #FF4B4B;
}

.esbranquicar {
    opacity: 0.3;
}

.resultado-quizz {
    width: 759px;
    height: 430px;
    padding: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.resultado-quizz__titulo {
    width: 727px;
    height: 99px;
    font-size: 23px;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EC362D;
}
.resultado-quizz img {
    width: 364px;
    margin-top: 18px;
}
.resultado-quizz p {
    width: 328px;
    height: 250px;
    font-size: 19px;
    font-weight: 700;
    color: #484848;
    word-wrap: break-word;
    margin-top: 18px;
}

.reiniciar-quizz {
    width: 260px;
    height: 52px;
    font-size: 21px;
    font-weight: 400;
    border: none;
    border-radius: 15px;
    margin-top: 57px;
    color: #FFF5F4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EC362D;
}
.reiniciar-quizz:hover {
    cursor: pointer;
}

.voltar-home {
    width: 220px;
    height: 44px;
    font-size: 21px;
    font-weight: 400;
    border: none;
    margin: 18px 0;
    color: #818181;
    display: flex;
    justify-content: center;
    align-items: center;
}
.voltar-home:hover {
    cursor: pointer;
}

/*--- TELA 3 ---*/

.tela-3 {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin-top: 69px;
    background-color: white;
}

/* T3 - Informações */

.informacoes, .perguntas, .niveis {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
    padding-bottom: 50px;
}

.informacoes h1, .criacao__perguntas__titulo, .niveis__titulo, .quizz__criado h1 {
    min-height: 89px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.informacoes div {
    height: 256px;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

input {
    min-height: 46px;
    width: 100%;
    font-size: 19px;
    margin: 0 0 9px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    padding: 0 14px;
}

.informacoes input {
    width: 95%;
}

.informacoes input:first-child {
    margin-top: 21px;
}

.informacoes input:last-child {
    margin-bottom: 21px;
}

input:focus {
    border: 1px solid #B8B8B8;
    outline: none;
}

input::placeholder, textarea::placeholder {
    font-size: 19px;
    font-style: italic;
    color: #BABABA;
}

.informacoes button, .perguntas button, .niveis button, .quizz__criado button {
    width: 324px;
    height: 54px;
    border-radius: 15px;
    margin-top: 3%;
    background-color: #EC362D;
    border: none;
    font-size: 18px;
    color: #FFF5F4;
}

.informacoes p, .perguntas p, .niveis p {
    font-size: 20px;
    font-weight: 700;
    color: #EC362D;
    margin-top: 20px;
}

.criacao__pergunta__geral, .niveis__geral {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.criacao__pergunta, .nivel {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 895px;
    width: 100%;
    max-width: 600px;
    padding: 27px 18px;
    margin-bottom: 24px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    transition: height 0.5s;
    overflow: hidden;
}

.criacao__pergunta h1, .nivel h1 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 24px;
}

.criacao__pergunta div {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.criacao__pergunta input {
    margin-bottom: 14px;
}

.criacao__pergunta.guardado, .nivel.guardado {
    height: 74px;
}

#criacao__pergunta__topo, #nivel__topo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 24px;
}

#criacao__pergunta__topo h1, #nivel__topo h1 {
    margin: 0;
}

#criacao__pergunta__topo ion-icon, #nivel__topo ion-icon {
    font-size: 26px;
}

.nivel {
    height: 439px;
}

.nivel textarea {
    width: 100%;
    border: 1px solid #D1D1D1;
    outline: none;
    border-radius: 5px;
    font-size: 19px;
    padding: 14px;
}

.nivel textarea:focus {
    border: 1px solid #B8B8B8;
}

.quizz__criado {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quizz__criado .quizz {
    margin: 0 0 24px; 
}

.quizz__criado__return {
    font-size: 18px;
    color: #818181;
    margin-top: 20px;
}

/* UTILITÁRIOS */

.escondido {
    display: none;
}

ion-icon:hover, button:hover, .quizz__criado__return:hover, header p {
    cursor: pointer;
}

/* MEDIA QUERY */
@media (max-width: 1100px) {

    main {
        width: 340px;
    }

    h4 {
        margin-top: 35px;
    }

    .tela-2 {
        width: 340px;
    }

    .banner p {
        position: absolute;
        z-index: 5;
        bottom: 50%;
        left: calc(50% - (375px/2));
        width: 375px;
        font-size: 39px;
        font-weight: 400;
        text-align: center;
        overflow-wrap: break-word;
        color: white;
    }

    .pergunta {
        width: 375px;
        padding: 18px;
    }
    .pergunta__titulo {
        width: 100%;
        height: 89px;
    }
    .pergunta__resposta {
        width: 164px;
        height: 113px;
        margin: 20px 0;
    }
    .pergunta__resposta p {
        font-size: 13px;
    }

    .resultado-quizz {
        width: 375px;
        height: 500px;
        padding: 18px;
    }
    .resultado-quizz__titulo {
        width: 100%;
        height: 99px;
        font-size: 19px;
        text-align: center;
    }
    .resultado-quizz img {
        width: 100%;
        height: 255px;
        margin-top: 18px;
    }
    .resultado-quizz p {
        width: 328px;
        height: 250px;
        font-size: 17px;
    }

}

@media (min-width: 1100px) {
    .quizz__criado .quizz {
        width: 500px;
        height: 266px;
    }

    .com-quizzes-criados div {
        justify-content: left;
    }

    .com-quizzes-criados h1 {
        margin-right: 17px;
    }

    .quizzes-criados .quizz {
        margin-right: 15px;
    }
    
    .quizzes-criados .quizz:nth-child(3n) {
        margin-right: 0;
    }
}
